@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');
html{
    scroll-behavior: smooth;
}
body{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;

}
nav{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid #6f6f6f;
}
nav h1{
    color: #717171;
    font-family: 'Playfair Display', serif;
    font-size: 30px;
}
nav .onglets{
    margin-top: 3px;
    margin-left: 300px;
}
nav .onglets a{
    text-decoration: none;
    color: #000;
    margin-right: 10px;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(/assets/images/black.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    padding: 40px;
}
header h1{
    font-family: 'Playfair Display', serif;
    font-size: 50px;
}
header h1 span{
    position: relative;
}
header h4{
    margin-top: -20px;
    font-size: 20px;
    text-align: center;
    border-bottom: 1px solid #fff;
}
header button{
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    color:#000;
    border:none;
    margin-bottom: 30px;
    outline:none;
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    cursor: pointer;
} 
#organisation{
    text-align: center;
    align-items: center;
}
body h1{
    text-align: center;
}

.main{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main .content .card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom:20px;
}
.main .content .card .left{
   flex: 0 0 30%;
   padding: 20px;
   background-color:black;
   color:#fff;
}
.main .content .card .right img{
    height:300px;
    width: 400px;
    margin-top: 5px;
}

footer{
    margin-top: 40px;
    border-top: 5px solid #6f6f6f;
    background-color: rgb(0, 0, 0);
    color: #fff;
    padding: 30px 100px;;
}
footer h1{
    font-family: 'Playfair Display', serif;
    border-bottom: 1px solid white;
    width: 20%;
    padding-bottom: 5px;
}
footer .services{
    margin-top: -10px;
    display:flex;
    flex-wrap:wrap;
}
footer .services .service{
    margin-right: 30px;
}
footer .services .service p{
    max-width: 300px;
}
footer #contact{
    color: rgb(181, 181, 181);
}

.team{
    background-image: url(/assets/images/team.jpg);
    background-size: cover;

}


.team .contenu{
    display: flex;
    margin-top: 40px;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.team .contenu .box{
    
    width: 340px;
    margin: 20px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    padding: 40px;
}

.team .contenu .box .imbox{
    width: 80px;
    height: 80px;
    border-radius: 50px;
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
}

.team .contenu .box .imbox img{
    position: relative;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    object-fit: cover;
    justify-content: center;
    align-items: center;
}

.team .contenu .box .text{
    text-align: center;
    color: #666;
}

.team .contenu .box .text h3{
    color: #fb911f;
    margin-top: 20px;
    font-size: 1em;
    font-weight: 600;
}
.logo-medias {
    width: 40px;
    height: 40px;
}

footer ul{
    font-style: none;
}

@media screen and (max-width:680px){
    nav .onglets {
        margin-left: 0px;
        margin-bottom: 20px;
    }
    .main .card {
        margin: 10px;
    }
    .main .content .card .right img{
        height:200px;
        width: 100%;
        margin-top: -0px;
    }
    .main .content .card{
        display: block;
    }
    footer{
        padding: 30px;
    }
}