.title {
    color: darkkhaki;
    box-shadow: black;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

header {
    text-align: center;
}







.content {
    padding: 16px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 60px;
}

#param {
    position: relative;
    width: 300px;
    height: 390px;
    background-color: rgba(50, 110, 212, 0.56);
    float: right;
    display: none;
    text-align: left;
    border-bottom-left-radius: 2em;
}

#param ul {
    list-style: none;
}

#parambutton {
    position: absolute;
    /*bottom: 50px;*/
    right: 15px;
    font-size: 30px;
    border-style: none;
    background-color: transparent;
    transition: font-size 0.5s;
    color: rgba(36, 39, 40, 0.56);
    outline: none;
}

.parametre-content {
    margin: 40px 10px 0px 30px;
}

#ChangeThemeButton {
    font-size: 20px;
    border-style: none;
    background-color: transparent;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/*partie doc */

.team{
    background-image: url(./team.jpg);
    background-size: cover;
}


.team .contenu{
    display: flex;
    margin-top: 40px;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.team .contenu .box{
    width: 340px;
    margin: 20px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    padding: 40px;
}

.team .contenu .box .imbox{
    width: 80px;
    height: 80px;
    border-radius: 50px;
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
}

.team .contenu .box .imbox img{
    position: relative;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    object-fit: cover;
    justify-content: center;
    align-items: center;
}

.team .contenu .box .text{
    text-align: center;
    color: #666;
    font-style: italic;
}

.team .contenu .box .text h3{
    color: #fb911f;
    margin-top: 20px;
    font-size: 1em;
    font-weight: 600;
}

/*tableau historique*/
table, th, td {   border: 1px solid;}
th{padding-inline: 1.5em}

.box_element{
    background-color: rgba(50, 110, 212, 0.56);
    border-radius: 50% 20% / 10% 40%;
    margin: 1em;
    padding: 1em;
}
footer span{

    display: grid;
    grid-template-columns: auto 1fr;
}
